<div class="container-fluid bg-dark mt-5 text-light">
    <div class="row">
        <div class="col-md-4 col-12 text-center mt-3">
            <img src="../../../assets/loghi/logonuovo.png" class="img-fluid" alt="Autosalone Logo">
            <h5>Il tuo autosalone di fiducia</h5>
            <address>
                Via del Babbuino<br>
                00015 Roma<br>
                📧 info@topcars@gmail.com
            </address>
        </div>
        <div class="col-md-4 col-12 d-flex justify-content-around align-items-center gap-3">
            <a [routerLink]="['/']" class="menu-footer">Home</a>
            <a [routerLink]="['/fiat']" class="menu-footer">Fiat</a>
            <a [routerLink]="['/ford']" class="menu-footer">Ford</a>
            <a [routerLink]="['/audi']" class="menu-footer">Audi</a>
        </div>
    </div>
</div>

