<div class="card mb-3">
    <div class="row g-2">
      <div class="col-md-2">
        <img src="{{user.image}}" class="img-fluid " alt="...">
      </div>
    <div class="col-md-10 mb-3">

      <div class="card-body">



        <h4 class="card-title">{{user | fullName}}</h4>

              <p class="card-text">{{user.title}}</p>
                  <app-single-todo
                  *ngFor="let todo of user.todos"
                    [todo]="todo"></app-single-todo>
        </div>
      </div>
    </div>
  </div>
