body{
    margin: 15px;
}
.container-nav{
    display: flex;
    width: 760px;
    height: 100px;
    background-color: #fbf7e3;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding-inline: 40px;
    border-radius: 50px;
}
.container-nav .nav-link{
    display: flex;
    width: 125px;
    height: 50px;
    background-color: #f3df85;
    border: none;
    border-radius: 50px;
    color: #70321c;
    align-items:center ;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 400;
}

.container-nav .nav-link img{
width: 50px;
}
#shop-btn{
    height: 50px;
    width: 150px;
    font-weight: 600;
    padding: 8px;
}